*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
body {
 background-color: #5F9EA0;
  /*background-image: url('istockphoto-2.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.1rem;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.home {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  top: 50px;
}
.maincontent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.wrapper{
  display: none;
  transition: All 0.4s ease-out;
  transform: translateY(-100%) scale(0);
}

.activePage{
  display: block;
  animation: slideShow 1s ease-in-out;
  transform:  translateY(0) scaleY(1);
}
@keyframes slideShow {
  0% { transform:  translateY(-100%) scaleY(0);}
  100% { transform:  translateY(0%) scaleY(1);}

}

.homeleft {
  font-family: fantasy;
  font-size: 1.5rem;


}
span{
  color: #F0FFF0;
  font-weight: bold;

}
 P{
   font-style: italic;
   font-size: 1rem;

 }
 button{
   padding: 15px 0;
   margin: 15px;
   border-radius: 25px;
   width: 150px
 }

/*.homesection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}*/
 /* navigation section*/
 .navbar{
   position: fixed;
   display: flex;
   justify-content:space-between;
   align-items: center;
/*   background: rgba(0, 0, 0, 0.3);*/
 }

 #navList{
   height: 100%;
}

#navList ul {
    margin:0;
    padding: 0px;
   display: flex;
 }

 .list li {
   list-style-type: none;
   padding: 0 3rem;

 }
 .list li a{
   font-family: cursive;
   text-decoration: none;
   color: gold;
   padding: 1rem;
   display: block;

 }
.logo{
  font-family: fantasy;
   font-weight: bold;
   font-size: 35px;
   color: red;
   margin-left: 10px;

}
.logo span{
  color:white;
}

#navList li a:hover {
/*background-color: gray;*/
color: white;
}

.hamburger {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 30px;
  height: 30px;
}

.line1, .line2, .line3{
  height: 3px;
  width:100%;
  background-color:white;
  transition: all 0.3s ease-out ;
}
.line1{
  transform: translateY(-3.5px);
}
.line3{
  transform: translateY(3.5px);
}
.features {
  min-height: 100vh;
/*  background-color: red;*/
  margin: auto;
  display: grid;
  place-items: center;
 }

.about {
  min-width: 100vh;
  /* background-color: green;*/
  position: absolute;
  top: 50px;
  margin: auto;
  display: grid;
  place-items: center;

}

.contact {
min-width: 100vh;
position: absolute;
top: 50px;
margin: auto;
display: grid;
place-items: center;
}
.photo{
  width:25%;
  height:auto;

}
/*.myphoto{
  width: 100%;
  height:100%;
  border-radius: 40px 40px 0 0;
  margin-top: 30px;
}*/

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 600px) {

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navList{
  display: none;
  width: 100%;
  transition: All 0.5s;
}

#navList ul {
  flex-direction: column;
  width: 100%;
  background-color: blue;
}
#navList ul  li {
  /*border-bottom: 1px solid gray;*/
  text-align: center;
  padding: 0px;
  margin: 0px;
}
#navList li a{
 padding: 0.5rem;
}

#navList.active {
  display: flex;
  transition: 1s ease-out;
}
.hamburger {
  display: flex;
  flex-direction: column;
/*  justify-content: center;*/
z-index: 5;
}

.homesection {
  flex-direction: column;
}
.maincontent{
  display: flex;
  flex-direction: column;
}
.photo{
  width:50%;
  height:auto;
  border-radius: 20px;
}
.hamburger.closeIcon .line2{
  transform: translateX(-30px);
  background: transparent;
}
.hamburger.closeIcon .line1{
  transform: rotate(45deg) translateY(5px );
}

.hamburger.closeIcon .line3{
  transform: rotate(-45deg) translateY(-5px );
}
}
